@model List<Main>
@foreach (var item in Model.GroupBy(x => x.VisitID))
{
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="@("#collapse"+item.Key)">
                        @item.Key
                    </a>
                </h4>
            </div>
            <div id="@("collapse"+item.Key)" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-sidebar">
                        @foreach (Main m in item.OrderByDescending(x => x.UpdateDT))
                        {
                            <li>
                                <a href="#" onclick="edit('@m.Id')">
                                    <div>
                                        @m.Name
                                    </div>
                                    <div>
                                        @(m.UpdateDT.Value.ToString("yyyy/MM/dd HH:mm"))

                                        <span class="pull-right" style="color:red" onclick="delItem('@m.Id',this)">删除</span>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

