@model Patient

<input type="hidden" value="@((int)Model.Type)" id="hd_pattype"/>
<div class="row">
    <input type="hidden" name="nation" value="@Model.Nation" />
    <input type="hidden" name="marriage" value="@Model.Marriage" />
    <input type="hidden" name="weight" value="@Model.Weight" />
    <input type="hidden" name="height" value="@Model.Height" />
    <input type="hidden" name="tele" value="@Model.TelPhoneNo" />
    <div class="col-sm-3">住院号：<span name="visitId">@Model.VisitID</span></div>
    <div class="col-sm-2">姓名：<span name="name">@Model.Name</span></div>
    <div class="col-sm-2">类型：<span name="name">@Model.Type</span></div>
    <div class="col-sm-2">性别：<span name="sex">@(Model.Sex == 1 ? "男" : "女")</span></div>
    <div class="col-sm-2">年龄：<span name="age">@((DateTime.Now - (string.IsNullOrEmpty(Model.Birthday) ? DateTime.Now : DateTime.Parse(Model.Birthday))).Days / 365)</span></div>
    <div class="col-sm-12">
        <hr />
    </div>
    <div class="col-sm-1">
        <button id="btnMode" class="btn btn-default hidden" onclick="ExchangeMode(this)"><span class="glyphicon glyphicon-eye-open"></span></button>
    </div>
</div>

